/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    background-color: #141922;
}

ul {
    list-style: none;
}

.circle{
    border-radius: 50%;
}

/* button */
button{
    border: none;
    border-width: 0;
    background-color: transparent;
    font-size: 1em;
}
a.btn {
    display: inline-block;
    text-decoration: none;
}

/* typo */
h2{
    margin-bottom: 10px;
}

h4{
    margin: 20px 0 10px;
}

/* main-container */
.main-container {
    display: flex;
    flex-direction: row;
    background-color:grey; 
    height: calc(100vh - 90px);
}


/* aside */
aside {
    flex-basis: 50px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-nav {
    flex-grow: 1;
}

.aside-bottom {
    height: 100px;
    align-self: flex-end;
    width: 100%;
}

.aside-icon-text {
    display: none;
}

.playlist {
    display: none;
}

.aside-bottom {
    align-self: flex-end;
}

/* main */
main {
    flex-basis: calc(100% - 50px);
    border: 1px solid;
}

.main-top {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    height: 85px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

.main-content {
    padding-top: 85px;
    overflow: auto;
    height: calc(100vh - 90px);
}

.content {
    padding: 20px 20px 0;
}

.nav-genre li {
    display: inline-block;
}
.nav-genre {
    text-align: center;
    background-color: burlywood;
}

.nav-genre li a {
    padding: 10px;
}

.content section {
    margin-bottom: 20px;
}
.content section > div{
    display: flex;
    flex-flow: row wrap;
}
.item {
    width: 50%;
    text-align: center;
}

.section-subtitle {
    margin-bottom: 20px;
}
.item-img {
    width: 95%;
    padding-bottom: 100%;
    background-color: lightcyan;
}

.item .subtitle {
    margin-bottom: 10px;
}

/* footer */
footer {
    height: 90px;
    background-color: darkred;
    z-index: 1;
    display: flex;
    padding: 0 13px;
}

footer > div {
    height: 90px;
    flex-basis: calc(100% / 3);
    border: 1px solid;
}


.actions-bar > div, .current-track{
    display: flex;
    align-items: center;
}

.center-top li, .actions-right li {
    display: inline-block;
}

.track-img {
    width: 30px;
    height: 30px;
    background-color: red;
}
.track-text {
    margin: 0 25px 0 13px;
}
.current-track-icons i {
    display: block;
}



.actions-center {
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.center-top, .center-bottom {
    flex-basis: 100%;
    text-align: center;
}

.center-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.duration-bar {
    width: 100%;
    height: 5px;
    background-color:#5a5a5a;
    position: relative;
    border-radius: 10px;
}

.duration-bar::before {
    content: '';
    position: absolute;
    left: 0;
    height: 5px;
    width: 30%;
    border-radius: 10px;
    background-color: #c1c1c1;
}

.duration {
    margin: 0 10px;
}



.actions-right ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.actions-right li {
    margin-left: 13px;
}
.actions-right li:last-child {
    width: 30%;
}


/* ≥ 600px */
@media screen and (min-width: 600px) {

    /* aside */
    aside {
        flex-basis: 230px;
    }

    .main-nav {
        flex-grow: 0;
    }

    nav.playlist {
        overflow-y: auto;
        flex-grow: 1;
        background-color: green;
    }

    .aside-icon-text {
        display: inline-block;
    }
    
    .playlist {
        display: block;
    }
    
    /* main */
    main {
        flex-basis: calc(100% - 230px);
    }

    .main-top {
        width: calc(100% - 230px);
    }

    /* footer */
    .current-track-icons i{
        display: inline-block;
    }

}

/* ≥ 700px */
@media screen and (min-width: 700px) {

    /* main */
    .item {
        width: 25%;
    }

}

/* ≥ 110px */
@media screen and (min-width: 1100px) {

    /* main */
    .item {
        width: calc(100% / 6);
    }

}