/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
:root {
    --dark: #141922;
    --dark-grey: #282828;
    --grey: #7d7f84;
    --green: #adff2f;
    --icon-grey: #a3a3a3;
    --plus-icon: "\f067";
    --download-icon: "\f358";
    --heart-icon: "\f004";
    --folder-icon: "\f07b";
    --shuffle-icon: "\f074";
    --back-icon: "\f048";
    --play-icon: "\f144";
    --next-icon: "\f051";
    --redo-icon: "\f2f9";
    --list-icon: "\f0ca";
    --monitor-icon: "\f108";
    --volume-up-icon: "\f028";
}

body {
    background-color: var(--dark);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;  
}

::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}

ul {
    list-style: none;
}
.fa-ul {
    margin-left: 0;
}
.fa-ul li {
    display: block;
}

.item__img--circle {
    border-radius: 50%;
    overflow: hidden;
}
.uppercase{
    text-transform: uppercase;
}

/* icons */
.icon::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    color: var(--icon-grey);
}
.btn:hover.icon--color-hover::before {
    color: white;
}
.btn:hover, .btn:hover .btn__label{
    color: white;
}


.btn.icon--plus::before {
    content: var(--plus-icon);
    font-weight: 900;
}
.btn.icon--download::before {
    content: var(--download-icon);
    font-size: .8rem;
}
.btn.icon--heart::before {
    content: var(--heart-icon);    
}
.btn.icon--folder::before {
    content: var(--folder-icon);
}
.btn.icon--shuffle::before {
    content: var(--shuffle-icon);
    font-weight: 900;
}
.btn.icon--back::before {
    content: var(--back-icon);
    font-weight: 900;
}
.btn.icon--play::before {
    content: var(--play-icon);
}
.btn.icon--next::before {
    content: var(--next-icon);
    font-weight: 900;
}
.btn.icon--redo::before {
    content: var(--redo-icon);
    font-weight: 900;
}
.btn.icon--list::before {
    content: var(--list-icon);
    font-weight: 900;
}
.btn.icon--monitor::before {
    content: var(--monitor-icon);
    font-weight: 900;
}
.btn.icon--volume-up::before {
    content: var(--volume-up-icon);
    font-weight: 900;
}



/* button */
a{
    color: var(--grey);
    text-decoration: none;
}
button{
    border: none;
    border-width: 0;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    vertical-align: middle;
    cursor: pointer;
}

.btn--round-border{
    border: 1px solid white;
    border-radius: 60px;
    padding: .8rem 2.2rem;
}

.btn--white{
    color: white;
}

.btn--grey{
    color: var(--grey);
}

.btn.uppercase{ 
    font-size: .8rem;
    font-weight: 600;
}

.btn--scale:hover {
    transform: scale(1.13);
    transition: transform .11s linear;
}
a:hover{
    color: white;
    text-decoration: underline;
}


/* typo */
h3{
    font-size: 1rem;
    margin: 1rem 0 .5rem;
}
h4{
    font-size: .85rem;
}

h5 {
    font-size: .8rem;
}
h1, h2, h3, h4, h5 {
    color: white;
}
.text--sm{
    font-size: .65rem;
}

/* main-container */
.main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 90px);
}



/* aside */
aside {
    flex-basis: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    text-align: center;
}
.aside--display {
    display: none;
}
.main-nav {
    flex-grow: 1;
}
.aside__footer {
    width: 100%;
}


.aside__footer .footer__item:last-child{
    padding: .8rem 0 .4rem;
}




.nav__logo--size--small, .profile-img, .btn__img {
    width: 1.5em;
}
.nav__logo--size--large{
    display: none;
}

.btn__label {
    display: none;
    vertical-align: middle;
}
.btn__img{
    display: inline-block;
    vertical-align: middle;
}

.nav-head__btn:hover.btn--bg-hover::before{
    background-color: white;
}






.btn.profile img{
    border-radius: 50%;
    background-color: var(--grey);
    width: 1.5rem;
    height:1.5rem;
    vertical-align: middle;
}
.aside__footer .btn__img {
    width: 1.5rem;
    height: 1.5rem;
}
.aside__footer .btn__img{
    text-align: center;
    width: 1rem;
}
.aside__footer .btn__img svg{
    width: 100%;
    padding-top: calc((100% - .5rem) / 2);
    fill: var(--grey);
}
.aside__footer .btn:hover svg path{
    fill:white;
}



/* main */
main {
    flex-basis: calc(100% - 50px);
}
.main__head {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    height: 85px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 1rem 1.4rem;
    z-index: 1;
}
.main__content {
    padding-top: 85px;
    overflow-y: auto;
    height: calc(100vh - 90px);
}


.content__nav {
    text-align: center;
}

.content__nav li {
    display: inline-block;
}

.content__nav  li .btn {
    padding: 15px 10px;
}

.content__nav li.active{
    position: relative;
}
.content__nav button.active::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    top: 2.5em;
    margin: auto calc((100% - 50px) / 2);
    background-color: var(--green);
}
.content__nav li .btn:hover {
    color: white;
}


.content__sec {
    padding: 20px 20px 0;
}
.content__sec section {
    margin-bottom: 20px;
}
.content__sec .items__row{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.8rem;
}


.item {
    width: 50%;
    text-align: center;
}
.item__img {
    width: 95%;
    position: relative;
}
.item__img::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.item__img img{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}
.item__img:hover .img--overlay::after{
    position: absolute;
    content: var(--play-icon);
    font-family: "Font Awesome 5 Free";
    font-size: 3rem;
    font-weight: 500;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: calc((100% - 3rem) / 2);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}


.subtitle{
    font-size: .75rem;
    color: var(--grey);
}
.section__subtitle {
    margin: .5rem 0;
}
.item__subtitle {
    margin-bottom: .5rem;
}

/* footer */
footer {
    background-color: var(--dark-grey);
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer__box {
    height: 90px;
}

footer .footer__box:first-child {
    width: 100%;
}

.footer__box.actions-right {
    display: none;
}

.footer__box, .current-track{
    display: flex;
    align-items: center;
}

.current-track {
    flex-grow: 1;
}

.current-track__img {
    width: 90px;
    height: 90px;
}

.current-track__img img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.current-track__text {
    margin-left: 15px;
}
.current-track__text h5 {
    font-size: 1.2rem;
}
.current-track__text .text--sm {
    font-size: .8rem;
}

.current-track-icons {
    margin: 0 20px;
}
.current-track-icons .btn {
    display: block;
    font-size: 1.2rem;
}



.center--top li, .actions-right li {
    display: inline-block;
}

.footer__box:not(:first-child) .btn::before{
    color: white;
}
.footer__box.actions-center {
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}

.center {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center.center--top ul.fa-ul {
    width: 100%;
}
.center.center--top li{
    width: 1.6rem;
}

.center.center--top .btn.icon--play::before {
    font-size: 1.3rem;
}

.center.center--top .btn:hover.icon--play::before {
    position: relative;
    font-size: 1.5rem;
}

.center--top {
    display: none;
}

.center--bottom {
    order: -1;
    position: absolute;
    width: 100%;
    right: 0;
    top: -2.5px;
}

.player__bar {
    width: 100%;
    height: 5px;
    background-color:#5a5a5a;
    position: relative;
    border-radius: 10px;
}

.current-player {
    position: absolute;
    height: 5px;
    width: 30%;
    border-radius: 10px;
    background-color: #c1c1c1;
}

.center .player__text{
    display: none;
}


.center .player__bar:active .current-player,
.center .player__bar:hover .current-player {
    background-color: var(--green);
}

.center .player__bar:active .current-player {
    width: 100%;
    transition: width 3s;
}

.center .player__bar:hover .current-player::after{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    top: 50%;
    transform: translate(0, -50%);
    left: calc(100% - 7.5px);
    border-radius: 10px;
    background-color: white;
}

.actions-right .player__bar:active .current-player,
.actions-right .player__bar:hover .current-player{
    background-color: var(--green);
}
.actions-right .player__bar:active .current-player{
    width: 100%;
    transition: width 2s;
}

.actions-right .player__bar:hover .current-player::after{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    top: 50%;
    transform: translate(0, -50%);
    left: calc(100% - 7.5px);
    border-radius: 10px;
    background-color: white;
}


.actions-right ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.actions-right li {
    margin-left: 13px;
}

.actions-right li:last-child {
    width: 25%;
}


/* ≥ 600px */
@media screen and (min-width: 600px) {

    /* aside */
    aside {
        flex-basis: 230px;
        text-align: left;
    }
    .aside--display{
        display: block;
    }

    .main-nav {
        flex-grow: 0;
    }

    .aside__nav, 
    .aside__nav-head  {   
        margin-bottom: 10px;
    }
    
    .aside__nav-head, 
    .playlist-nav, 
    .aside__footer {
        padding: 0 .8rem;
    }

    .btn__img {
        display: inline-block;
        width: 1.3rem;
        vertical-align: middle;
    }

    .nav__logo {
        height: 85px;
        display: flex;
        align-items: center;
    }

    .nav__logo--size--small {
        display: none;
    }

    .nav__logo--size--large {
        display: inline-block;
        width: 70%;
    }

    .aside__nav.playlist-nav {
        flex-grow: 1;
        overflow-y: auto;
    }



    .item__btn, .btn__label {
        display: inline-block;
        color: var(--grey);
        font-size: .8rem;
        vertical-align: middle;
        font-weight: 700;
    }

    .nav__item--active{
        border-left: 3px solid var(--green);
        padding-left: -3px;
    }

    .nav__item--active .btn__label{
        color: white;
        font-weight: 600;
    } 
    aside li:not(.main-nav li){
        padding: .4rem 0;
    }

    aside .main-nav li{
        padding: .3rem .8rem;
    }

    .aside__footer li:first-child {
        border-bottom: 1px solid var(--icon-grey);
    }


    .icon--download::before{
        text-align: left;
        width: auto;
    }

    .btn__label--white{
        font-size: .85rem;
        color: white;        
    }


    .nav-head__btn.icon--plus{
        margin-top: .5rem;
    }

    .nav-head__btn.icon--plus::before{
        width: 30px;
        height: 30px;
        background-color: var(--icon-grey);
        color: black;
        font-size: 1.1rem;
        line-height: 30px;
    }

    
    /* main */
    main {
        flex-basis: calc(100% - 230px);
    }

    .main__head {
        width: calc(100% - 230px);
    }

    /* footer */
    .footer__box {
        flex-basis: calc(100% / 3);
        padding: 0 13px;
    }

    footer .footer__box:first-child {
        width: auto;
    }

    
    .footer__box.actions-right {
        display: flex;
    }

    .current-track {
        flex-grow: 0;
    }

    .current-track__img {
        width: 30px;
        height: 30px;
    }

    .current-track__text h5 {
        font-size: .8rem;
    }
    .current-track__text .text--sm {
        font-size: .65rem;
    }

    .current-track-icons {
        display: inline-block;
        margin: 0;
    }

    .current-track-icons .btn {
        display: inline-block;
        margin: 3px;
        font-size: 1rem;
    }

    .current-track__text {
        margin-left: 0;
    }

    .current-track__text, .current-track-icons {
        display: inline-block;
    }
    .current-track__text {
        margin: 0 8px 0 13px;
    }
    
    .current-track-icons {
        margin-left: 8px;
    }

    .center{
        height: 40%;
    }

    .center--top {
        display: flex;
    }

    .center.center--top li{
        width: 1.7rem;
    }
    
    .center.center--top .btn.icon--play::before {
        font-size: 1.6rem;
    }
    
    .center.center--top .btn:hover.icon--play::before {
        position: relative;
        font-size: 1.8rem;
    }

    .center--bottom {
        align-items: center;
        order: 1;
        position: static;
        width: 100%;
        right: auto;
        top: auto;
    }

    
    .center .player__text{
        display: inline-block;
    }

    .center .player__bar {   
        margin: 0 1.5rem;
    }

}

/* ≥ 700px */
@media screen and (min-width: 700px) {

    /* main */
    .item {
        width: 25%;
    }


}

/* ≥ 1100px */
@media screen and (min-width: 1100px) {

    /* main */
    .item {
        width: calc(100% / 6);
    }

    /* footer */

    .center.center--top li{
            width: 2.4rem;
        }
        
    

}